@inject IHttpContextAccessor httpAcessor

<ul class="navbar-nav">
    @if (httpAcessor.HttpContext.Session.GetInt32("id") != null)
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-action="Index" asp-controller="Home" title="Manage">Xin chào @httpAcessor.HttpContext.Session.GetString("name")</a>
    </li>
    <li class="nav-item">
            <a asp-action="Logout" asp-controller="Home"><button id="logout" class="nav-link btn btn-link text-dark">Đăng xuất</button></a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-controller="Home"  asp-action="Register">Đăng kí</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-controller="Home" asp-action="Login">Đăng nhập</a>
    </li>
}
</ul>
